/* General */
a {
    text-decoration: none;
    color: #8b8b8b;
    margin-left: .5rem;

    &:hover {
        text-decoration: underline;
        scale: 1.05;
    }

}

main {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

/* Card */
.card .card-body h6 {
    height: 50px;
}