/* General */
a {
    text-decoration: none;
    color: #8b8b8b;
    margin-left: .5rem;

    &:hover {
        text-decoration: underline;
    }
}

/* Card */
.card .card-body h6 {
    height: 50px;
}